body 
{
    background-color: rgb(71, 107, 13);
}
.dark
{
    background-color: black;
}

table
{
    border: 1px black solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    position: relative;
    top:100px;
    background-color:gray;
}
input 
{
    width: 410px;
    height:50px;
    outline: none;
    font-size: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 3px black;
}
td 
{
    border: 1px red solid;
    border: none;
}
button
{
    padding: 10px 25px;
    cursor: pointer;
    width:100px;
    border-radius: 10px;
    height:40px;
    background-color: rgb(50, 145, 174);
    text-transform: uppercase;
    font-weight: bolder;
    font-size:25px;
    box-shadow: 0px 0px  3px black;
    transition:0.5s;
    border: none;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
button:hover 
{
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    background-color: blue;
}
.zero 
{
    width:205px;
}
.equal 
{
    height:85px;
}
.light .turn 
{
    color: red;
}
